<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="styles/styles.css">

</head>
<body>
    <div class="container">
        <div class="myNarbar">
  
            <a class="narbar-item" href="/">Home</a>
            <a class="narbar-item" href="/about">About</a>
            <a class="narbar-item" href="/contact">Contact</a>
       
        </div>
        <div class="topCenterText"> 
            <h1>My Blog</h1>
        </div>

        <div class="bodyRight">

            <h4>How you feeling today?</h1>
            <div class="postArea">
                <form method="post" action="/newPost">
                    <!-- <label> new post </label> -->
                    <input type="text" name="title" required placeholder="Title">
                    <textarea name="newPost" rows="6" required placeholder="New Post here" ></textarea>
                    <button id="post-button" type="submit">Post </button>
                </form>
            </div>
        </div>

            
        <div class="body-display">



