<%- include("partials/header.ejs") %>



<h1 class="text-color">   About Me: </h1>
<h3>   Total posts I have on the website is <%= postsSize %></h3>
<!-- <p>    My name is Kegang Peng, or you can call me Jimmy. I'm fluent in Cantonese and Mandarin, I was born in China and immigrated to the United States in 2005 with my family when I was 16, and Oakland has been my home ever since.</p>
<p>    Despite barely graduating from Oakland High School, I attended Laney College for about two years. Unfortunately, I dropped out in 2012 and started working full time in flooring with my family. In 2018, I obtained my C-15 flooring contractor license and took over my family's hardwood flooring business</p>
<p>    The arrival of COVID-19 brought its own set of challenges, but it also gave me some valuable time for reflection. During those stay-at-home days, I enrolled in an online class, passed the state exam, and became a licensed real estate agent. However, the real estate scene wasn't quite what I expected, so I let go of the real estate venture and focused mainly on my flooring business.</p>
<p>    Around that same time, I picked up "Atomic Habits," a book that not only made me rethink my habits but also emphasized the power of setting small goals. Now, with a fresh outlook, I'm eyeing a career change to computer science.</p>
<p>    I like hiking, traveling, and cars, but currently I don't really got time for them. I am working full time on my hardwood floor business and attending Laney College full time. In addition to my professional commitments, I am a parent to two kids aged 8 and 9. Am I busy? I would say yes, but I don't want to stay in the construction business forever. That's the reason why I'm going back to school now, looking forward to changing careers to computer science. I know it won't be easy, but one step at a time! Better late than never</p> -->

<%- include("partials/footer.ejs") %>