<%- include("partials/header.ejs") %>

<div class="contact">
    <div class="contact-items">
        <h4>Contact me today!</h4>
        <h5>Email: Kegangpeng@gmail.com</h5>
        <h5>Phone: 123-456-789</h5>
    </div>
</div>


<%- include("partials/footer.ejs") %>